Source: ros-jade-rqt-launch
Section: misc
Priority: extra
Maintainer: Isaac Saito <130s@lateeye.net>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-rqt-py-common
Homepage: http://wiki.ros.org/rqt_launch
Standards-Version: 3.9.2

Package: ros-jade-rqt-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-python-qt-binding (>= 0.2.19), ros-jade-roslaunch, ros-jade-rospy, ros-jade-rqt-console, ros-jade-rqt-gui, ros-jade-rqt-gui-py, ros-jade-rqt-py-common
Description: This rqt plugin ROS package provides easy view of .launch files.
 User can also start and end node by node that are defined in those files.
